<div class="container">
  <i class="fa fa-shopping-cart cart-icon-heading"></i>
  <h4 class="mt-3"><strong>Checkout </strong></h4>

  <% flash.each do |type, msg| %>
  <div class="alert alert-info"><%= msg %></div>
  <% end %> <%= render partial: "items", :locals =>{:items => session[:items]}%>
  <%= form_with url: "/orders", remote: false , method: :post do |f| %> <%=
  f.hidden_field :amount, value: @order[:total_amount] %>

  <div id="order-btn">
    <%= f.submit "Place Order" , class:'btn btn-primary' %>
  </div>

  <%end%>

  <div class="d-flex align-items-end justify-content-end flex-column">
    <h5>Total price : <%=@order[:total_amount] %></h5>

    <h5 id="status"></h5>

    <h5 id="time"></h5>
  </div>
</div>
